.creator,
.assigned-to,
.add-to-card,
.actions {
  h2 {
    font-size: 0.8rem;
    font-weight: 800;
  }
}

.mr-half {
  margin-right: 0.5rem;
}

.text-left {
  text-align: left !important;
}

.w-fit-content {
  width: fit-content !important;
}
